script(src="//code.jquery.com/jquery-3.1.1.min.js")
script(src="//gitster-id.github.io/Gitster-ID/dist/js/tether.min.js")
script(src="//gitster-id.github.io/Gitster-ID/dist/js/bootstrap.min.js")
script(src="//gitster-id.github.io/Gitster-ID/dist/js/app.min.js")
