meta(name="description", content="Gitster-ID adalah situs tutorial dasar-dasar Git. Tempat untuk belajar Git sampai handal.")
meta(name="keywords", content="situs belajar git, dasar-dasar git, komunitas git, git indonesia, cara menggunakan git, tutorial git, how to use git, the fundamentals of git, git flow, git how to, apa itu git, what is git")
meta(name="author", content="Gitster-ID")
meta(name="robots", content="index, follow")
meta(name="revisit-after", content="1 month")
// tutorial git, belajar git, git flow
meta(property="og:type", content="article")
meta(property="og:title", content="Gitster-ID - Situs turorial dasar-dasar Git.")
meta(property="og:site_name", content="Gitster-ID - Situs turorial dasar-dasar Git.")
meta(property="og:url", content="https://gitster-id.github.io/")
meta(property="og:image", content="https://gitster-id.github.io/dist/favicon/favicon.png")
meta(property="article:author", content="https://lowsprofile.github.io/")
// open graph protocol
link(rel="shortcut icon", href="/dist/favicon/favicon.png")
link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i")
link(rel="stylesheet", href="/dist/css/font-awesome.min.css")
link(rel="stylesheet", href="/dist/css/material.min.css")
link(rel="stylesheet", href="/dist/css/bootstrap-grid.min.css")
link(rel="stylesheet", href="/dist/css/app.min.css")
